<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Flight Log Pro</h1>
      <a class="btn btn-primary btn-large" href="/logs/new">Add New Logbook Entry</a>
      <a class="btn btn-success btn-large" href="/logs">View All Entries</a>
    </div>
  </header>
</div>

<% include partials/footer %>
