<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Create a New Log Entry</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/logs" method="POST">
        <div class="form-group">
          <input class="form-control" type="date" name="date" placeholder="MM/DD/YYYY">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="departure" placeholder="KFAT">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="destination" placeholder="KLAX">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="duration" placeholder="1.1">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="remarks" placeholder="Enter any remarks from your flight here">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary">Submit!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
